PORT=5000
DATABASE_URL="mysql://icct_user:icct_password_123@localhost:3306/icct_lost_found"
JWT_SECRET="icct_lost_and_found_jwt_secret_super_secure_key_2026"
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"
